.section{
    background-image: url("picture/lodging.png");
    color : white;
    background-repeat: no-repeat;
    height: 100%;
    padding:180px;
    background-position:left;
    background-size: cover;
    


}
body {
            padding: 0px;
            margin: 0px;
        }
.navbar {
            overflow: hidden;
            background-color:white;
            position: fixed;
            top: 0;
            width: 100%;
}

.navbar a {
            float: left;
            display: block;
            color: red;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
}
.left, .right{
    height: 500px;
    width: 800px;
}
.left{
    float: left;
    width: 70%;
}
.right{
    
    float: right;
    width: 30%;
}
.mexico{
    padding-right:5%; 
}
.ny{
    padding-right: 5%;
}
.invite{
    padding-right: 20%;
}
.tokyo{
    padding-top: 5%;
}
.paris{
    padding-top: 5%;
    padding-left: 5%;
}
.footer{
    padding: 5px;
    background-color: beige;

}
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}



